<% content_for :page_title do %>
  <%= Spree.t(:gift_cards) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_gift_card), new_object_url, icon: 'plus', class: 'btn btn-success' %>
<% end %>

<% content_for :table_filter_title do %>
  <h2>Testing</h2>
<% end %>

<table class="index table table-hover">
  <thead>
    <tr>
      <th><%= Spree.t(:order) %></th>
      <th><%= Spree.t(:code) %></th>
      <th><%= Spree.t(:value) %></th>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:note) %></th>
      <th class="actions" width="100"></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_cards.each do |card| %>
      <tr id="<%= spree_dom_id card %>">
        <td>
          <%= card.line_item.present? ? card.line_item.order.number : '' %>
          <br>
          <small><%= card.created_at.strftime("%d/%m/%y") %></small>
        </td>
        <td><input type="text" value="<%= card.code %>" disabled style="width:50px"/></td>
        <td><%= number_to_currency card.original_value %>/<%= number_to_currency card.current_value %></td>
        <td><%= card.email %></td>
        <td><%= card.name %></td>
        <td><small><%= card.note %></small></td>
        <td class="actions">
          <%= link_to_edit card, no_text: true if can?(:edit, card) %>
          &nbsp;
          <%= link_to_delete card, no_text: true if can?(:delete, card) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @gift_cards %>
